%div.tips
  %h1 Today it's a good idea to take with you…
  %ul#tips
    - @recomendation.tips.each do |tip|
      %li= image_tag "#{tip}.png", alt: "#{tip.capitalize}"

%ul.data-points
  %li.data-entry
    %div.data-title Temperature
    %div.data-value #{@currently.apparentTemperature} °C
  %li.data-entry
    %div.data-title Rain Chance
    %div.data-value= number_to_percentage(@currently.precipProbability * 100, precision: 0)
  %li.data-entry
    %div.data-title Cloud Coverage
    %div.data-value= number_to_percentage(@currently.cloudCover * 100, precision: 0)
