!!!
%html
  %head
    %title Climatico
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div.rails-rumble-vote
      = link_to image_tag('rails-rumble-badge-2015.png', alt: 'Vote for us!'), 'http://railsrumble.com/entries/111-climatico', target: '_blank'
    %header.site-header= image_tag 'logo.svg', alt: 'Climatico', class: 'logo'
    %main.site-content= yield
